<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>body layouts html</title>
    <link rel="stylesheet" href="body-layouts.css">

</head>



<body>
<div class="main-container"> 
    <div class="sub-class1">
          <div class="advertise"> 
            <div class="advertisement"><img src="pic1.png"></div>
          </div>
    
          <div class="lower-bar">
            

          </div>

    </div>  
    

    <div class="sub-class2">
            <div class="top-albums">
            </div>
            <div class="contents">
            <div class="sub-class2-items">
            </div>    
            <div class="sub-class2-items">
            </div>
            <div class="sub-class2-items">
            </div>
            <div class="sub-class2-items">
            </div>
            <div class="sub-class2-items">
            </div>
            <div class="sub-class2-items">
            </div>
            <div class="sub-class2-items">
            </div>
         </div>
     </div>

         <div class="sub-class3">
                    <div class="top-songs">
                      </div>
                    <div class="songs-container">
                <ul>
                         <li><div class="songs-element"> <div class="songs-pic"></div>
                            <div class="songs-details"></div>
                            </div></li>
                         <li><div class="songs-element"> <div class="songs-pic"></div>
                             <div class="songs-details"></div>
                             </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                    <div class="songs-details"></div>
                                    </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                        <div class="songs-details"></div>
                                        </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                           <div class="songs-details"></div>
                                            </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                               <div class="songs-details"></div>
                                                </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                   <div class="songs-details"></div>
                                                    </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                        <div class="songs-details"></div>
                                                        </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                            <div class="songs-details"></div>
                                                            </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                <div class="songs-details"></div>
                                                                </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                   <div class="songs-details"></div>
                                                                    </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                        <div class="songs-details"></div>
                                                                        </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                            <div class="songs-details"></div>
                                                                             </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                                 <div class="songs-details"></div>
                                                                                 </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                                     <div class="songs-details"></div>
                                                                                     </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                                         <div class="songs-details"></div>
                                                                                         </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                                             <div class="songs-details"></div>
                                                                                             </div></li>
                        <li><div class="songs-element"> <div class="songs-pic"></div>
                                                                                                 <div class="songs-details"></div>
                                                                                                            </div></li>
                        </ul>
                    </div>
               </div>
           </div>
</body>
</html>